body {
    background-color: rgb(65, 57, 57);
    color: white;
}

header {
    border: 2px solid red;
}

ul {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

li {
    list-style: none;
    border: 2px solid green;
    padding: 17px;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100vw;
    border: 2px solid orange;
}

img {
}

#theme-mode {
}